body {
    font-size: 20px;
    font-weight: normal;
    line-height: 20px; /*line height is equal to font size*/
    letter-spacing: 0px;
}

.main {
    font-family: 'Roboto', sans-serif;
}

.second {
    font-family: 'Lato', sans-serif;
}

.third {
    font-family: 'Open Sans', sans-serif;
}

a:hover {
    background-color: red;
    transition: background-color 5s ease;
}
a:active {
    background-color: purple;
}
a:focus{
    background-color: blue;
}
a {
    background-color: green;
    /* transition: background-color 5s ease;
    transition: font-size 5s ease-in; */
}